/*
Theme Name: Clean Commerce Child
Theme URI: http://wenthemes.com/item/wordpress-themes/clean-commerce/
Template: clean-commerce
Author: WEN Themes
Author URI: http://wenthemes.com/
Description: Clean Commerce is a simple yet modern e-commerce WordPress theme. It is esthetically minimalist, fresh-faced and bright, elegantly styled and well developed, readily responsive e-commerce WordPress theme. It is a perfect theme for commercial endeavors of all kinds, from digital download shops to online commercial retail of all kinds. It integrates the industry standard WooCommerce e-commerce plugin, a wonderful solution for all your online commerce needs, which allows your users to browse your product catalogs in easy but stylish grace, add items to their shopping carts intuitively, and proceed to checkout and make payments, all right off your website. Official Support Forum: http://themepalace.com/support-forum/ Full Demo: http://wenthemes.com/theme-demos/?demo=clean-commerce
Tags: one-column,two-columns,left-sidebar,right-sidebar,custom-background,custom-menu,featured-images,full-width-template,translation-ready,theme-options,threaded-comments,footer-widgets,custom-logo,e-commerce
Version: 1.0.8.1499261632
Updated: 2017-07-05 16:33:52

*/

.woocommerce-placeholder {
    display: none !important;
}

.woocommerce-product-gallery--without-images {
    display: none;
}

section.related.products {
    display: none;
}

.woocommerce-loop-category__title {
    font-size: 1.2em !important;
}

.woocommerce-loop-product__title {
    font-size: 1.5em !important;
}

span.woocommerce-Price-amount.amount {
    display: none;
}

span.sku_wrapper {
    display: none;
}

/*div#breadcrumb {*/
    /*display: none;*/
/*}*/