/*
Theme Name: Clean Commerce Child
Theme URI: http://wenthemes.com/item/wordpress-themes/clean-commerce/
Template: clean-commerce
Author: WEN Themes
Author URI: http://wenthemes.com/
Description: Clean Commerce is a simple yet modern e-commerce WordPress theme. It is esthetically minimalist, fresh-faced and bright, elegantly styled and well developed, readily responsive e-commerce WordPress theme. It is a perfect theme for commercial endeavors of all kinds, from digital download shops to online commercial retail of all kinds. It integrates the industry standard WooCommerce e-commerce plugin, a wonderful solution for all your online commerce needs, which allows your users to browse your product catalogs in easy but stylish grace, add items to their shopping carts intuitively, and proceed to checkout and make payments, all right off your website. Official Support Forum: http://themepalace.com/support-forum/ Full Demo: http://wenthemes.com/theme-demos/?demo=clean-commerce
Tags: one-column,two-columns,left-sidebar,right-sidebar,custom-background,custom-menu,featured-images,full-width-template,translation-ready,theme-options,threaded-comments,footer-widgets,custom-logo,e-commerce
Version: 1.0.8.1499261632
Updated: 2017-07-05 16:33:52

*/

.woocommerce-placeholder {
    display: none !important;
}

.woocommerce-product-gallery--without-images {
    display: none;
}

section.related.products {
    display: none;
}

.woocommerce-loop-category__title {
    font-size: 1.2em !important;
}

.woocommerce-loop-product__title {
    font-size: 1.5em !important;
}

span.woocommerce-Price-amount.amount {
    display: none;
}

span.sku_wrapper {
    display: none;
}

/*div#breadcrumb {*/
/*display: none;*/
/*}*/


/* instock and outofstock in products archive/shop */
.woocommerce ul.products li.product .in-stock,
.woocommerce-page ul.products li.product .in-stock,
.woocommerce ul.products li.product .out-of-stock,
.woocommerce-page ul.products li.product .out-of-stock {
    color: #77a464;
    font-size: 15px;
    padding: 0 12px 6px;
}

/* Add this if you want Out of Stock to appear in red */
.woocommerce ul.products li.product .out-of-stock,
.woocommerce-page ul.products li.product .out-of-stock {
    color: red;
}

/* customize theme appearance */

:root {
    --main-dark-color: #001837;
    --main-light-color: #fbfbfb;
    --main-attention-color: #ff7d06;
}

.sidebar .widget {
    background-color: rgba(255, 255, 255, 0.95);
}

#primary main  {
    background-color: rgba(255, 255, 255, 0.95);
}

a, a:link, a:visited {
    color: var(--main-attention-color);
}

a:hover {
    text-decoration: underline;
}

.sidebar a, .sidebar a:link, .sidebar a:visited {
    color: var(--main-dark-color);
}

a.button, a.button:link, a.button:visited {
    color: #ffffff;
}

a.woocommerce-LoopProduct-link, a.woocommerce-LoopProduct-link:link, a.woocommerce-LoopProduct-link:visited {
    color: #272727;
}

a.woocommerce-LoopProduct-link:hover {
    color: var(--main-attention-color);
}

.site-branding a, .site-branding a:link, .site-branding a:visited, .site-branding a:hover {
    color:var(--main-dark-color) !important;
    text-decoration: none;
}

.menu-item > a:hover {
    text-decoration: none;
}

input#private_data_processing {
    display: none;
}

body {
    font-family: 'Tahoma', sans-serif;
}

.site-title {
    font-size: 26px;
    font-weight: normal;
    font-family: 'Tahoma', sans-serif;
    line-height: 1.1;
}

.site-description {
    line-height: 1.3;
    color:var(--main-dark-color);
}

#site-identity {
    text-align: right;
    color: var(--main-dark-color);
}

@media only screen and (max-width: 900px) {

    #site-identity {
        text-align: center;
    }

    .mobile-nav-wrap {
        background: var(--main-dark-color) none repeat scroll 0 0;
    }

}

.scrollup, #tophead, #main-nav, #colophon {
    background-color: var(--main-dark-color);
}

.sidr {
    background: var(--main-dark-color);
}

#main-nav {
    background-color: var(--main-light-color) !important;
    border: 1px solid var(--main-dark-color);
    border-left-style: none;
    border-right-style: none;
}

.main-navigation ul li a {
    color: var(--main-dark-color);
}

.main-navigation li::before {
    background-color: var(--main-dark-color);
}

.main-navigation li::after {
    background: var(--main-dark-color) none repeat scroll 0 0;
}


/* Product list as table (using in products_table.php) */

@media (min-width: 768px) {

    .site-main ul.products li.product {
        width: 100%;
        float: none;
        margin: 0;
    }

    .site-main ul.products {
        /*border-right: 1px solid;*/
        border-bottom: 1px solid var(--main-dark-color);
        margin: 1em 0;
    }

    .site-main ul.products li.product .product_table {
        display: flex;
        flex-wrap: wrap;
    }

    .site-main ul.products li.product {
        float: left;
        margin: 0;
        text-align: left;
        background-color: var(--main-light-color);
        /*border-left: 1px solid;*/
        border-top: 1px solid var(--main-dark-color);
        padding: .5em 2em;
        box-sizing: border-box;
        flex-grow: 1;
        overflow: hidden;
    }

    .site-main ul.products li.product div.product_title_cell {
        width: 66.6%;
    }

    .site-main ul.products li.product div.product_addtocart_cell {
        width: auto;
        margin-left: auto;
    }

    .woocommerce ul.products li.product .in-stock, .woocommerce-page ul.products li.product .in-stock, .woocommerce ul.products li.product .out-of-stock, .woocommerce-page ul.products li.product .out-of-stock {
        padding: 0 12px;
        font-size: 0.9em;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
        padding: 0;
        font-size: 1.1em !important;
        font-weight: 500;
    }

    .woocommerce ul.products li.product a {
        text-align: left;
    }

    .woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
        margin: auto;
    }

    .woocommerce ul.products li.product .button {
        margin: auto;
        font-size: 14px;
    }

}